<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    {% block css %} {% endblock %}
    <title>
        {% block title %} Flask App {% endblock %}
    </title>
</head>
<body>
<div class="container">
    {% include 'inc_navbar.html' %}
    {% for cat, messages in get_flashed_messages(True) %}
        <div class="alert alert-{{ cat }}" role="alert">
            {{ messages }}
        </div>
    {% endfor %}
    {% block body %}
        MAIN
    {% endblock %}
</div>
{% block js %} {% endblock %}
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>